# VS Code spezifische Dateien
.vscode/

# Logs
*.log

# Betriebssystem-Dateien
.DS_Store
Thumbs.db

# Node.js (falls später Node benutzt wird)
node_modules/

# Build-Ordner (wenn du z. B. React/Webpack nutzt)
dist/
build/
